.hero {
    background-color: #F5F6F8;
}

.title {
    color: #14142B;
    font-size: 1.5rem;
}

.date {
    position: relative;
    background-color: #EFF0F6;
    border: none;
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    height: 3rem;

    &::-webkit-calendar-picker-indicator {
        background: url('../../assets/images/forward.svg') no-repeat center center;
        position: absolute;
        left: 12.3rem;
        cursor: pointer;
     }
     &::-webkit-datetime-edit-fields-wrapper {
         padding-left: 2.3rem;
     }

     &:focus {
        background-color: #EFF0F6 !important;
    }
}

.select {
    height: 3rem;
    appearance: none;
    cursor: pointer;
    background-color: #EFF0F6;
    border: none;
    padding-left: 3.4rem;
    background:  #EFF0F6 url('../../assets/images/forward.svg') no-repeat 14rem center;
    padding-right: 1rem;

    &:focus {
        background-color: #EFF0F6 !important;
    }
}

.arrow {
    z-index: 10;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    cursor: pointer;
    background: url('../../assets/images/location.svg') no-repeat;
    background-position: 1.2rem center;
}


.arrowDate {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 1rem;
    left: 2rem;
    background: url('../../assets/images/calendar.svg') no-repeat;
}

.cardTitle {
    color: black;
    font-size: 1.1rem;
}

.cardSubtitle {
    color: #6E7191;
    font-size: .8rem;
}

.card {
    border: none;
    padding: 0 !important;
    border-radius: 10px;
}

.line {
    border-bottom: 0.5px solid #DEDEDE;
}

.time {
    cursor: pointer;
    font-size: .8rem;
}

.input {
    display: none !important;
}

.input:checked + label {
    color: $primary;
}

.input + label {
    color: #4E4B66;
}

.input:disabled + label {
    color: #A0A3BD;
    cursor: text;
}

.priceText {
    color: black;
    font-weight: 600;
}

.shadow {
    box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
}

.view {
    cursor: pointer;
}