.hero {
  background-color: white;
  // background-color: red;
}

.card {
  box-shadow: 0px 16px 32px rgba(186, 186, 186, 0.3);
  border-radius: 8px;
  border: 1px solid white;
}

.input {
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  width: 17.5rem !important;
}

.btn {
  font-size: 1rem;
  padding-left: 1rem;
  width: 8rem !important;
  font-size: 1.1rem;
  padding-top: .86rem;
  padding-bottom: .86rem;
}