.hero {
  background-color: white;
  // height: 35rem;
}

.titleHeroContent {
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  color: #14142B;
}

.card {
  z-index: 10;
  cursor: pointer;
  border-radius: 8px;
  width: 15.5rem !important;
  border: 0.1px solid #DEDEDE;
  height: auto;
  overflow: hidden;
  box-shadow: 0px 8px 30px rgba(186, 186, 186, 0.25);
  align-items: center;

  .imgCard {
    width: 11.5rem;
  }

  .cardBody {
    padding: 0 !important;
  }
}

.hideScroll {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.movieWrapper {
  display: inline-flex;
}

.cardShow {
  transition: 1s all;
  cursor: pointer;
  border-radius: 8px;
  width: 14rem;

  .cardBodyShow {
    padding: 0 !important;
    height: auto !important;
    overflow: visible !important;
  }
}

.btnContainer {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.btnWrapper {
  display: inline-flex;
  overflow: hidden;
}