.title {
  color: #121212;
}

.subtitle {
  color:#121212;
  font-size: 1.5rem;
}

.formSubtitle {
  color: #AAAAAA;
  font-size: 1rem;
}

input.controlSize {
  height: 3.2rem;
  padding-left: 1.2rem;
}

input.hideBorderLeft {
  border-right: none;
}

button.controlSize {
  padding: 0;
  height: 3.2rem;
  font-size: 1.2rem;
}

.hideAppendPasswordValid {
  border-color: $success;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.hideAppendPasswordInvalid {
  border-color: $danger;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.hideAppend {
  background-color: transparent;
  border-left: none !important;
  .eye {
    cursor: pointer;
  }
}