.card {
  border: none;
  &Header {
    border-bottom: 1px solid #dedede;
  }

  .headerTitle {
    color: $title-color;
  }

  input.controlSize {
    height: 2.9rem;
    padding-left: 1rem;
  }

  button.controlSize {
    padding: 0;
    width: 10rem;
    height: 2.9rem;
    font-size: 1rem;
  }

  input.hideBorderLeft {
    border-right: none;
  }

  .hideAppend {
    background-color: transparent;
  }

  .hideAppendValid {
    border-color: $success;
  }

  .hideAppendInvalid {
    border-color: $danger;
  }

  .hideAppendPasswordValid {
    border-color: $success;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .hideAppendPasswordInvalid {
    border-color: $danger;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .hideAppendrepeatPasswordValid {
    border-color: $success;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .hideAppendRepeatPasswordInvalid {
    border-color: $danger;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .hideAppendPassword {
    background-color: transparent;
    border-left: none !important;
    .eye {
      cursor: pointer;
    }
  }
}