.hero {
    background-color: $light;
}

.card {
    width: 100%;
    height: 22rem;
    border: none;
    border-radius: 10px;
    border: 2px solid #DEDEDE;

    .cardBody > img.img {
        width: 100%;
        height: 100%;
    }
}

.genre {
    font-size: 1.04rem;
    text-transform: capitalize;
}

.title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #14142B;
}

.movieDesc {
    line-height: .9;

    p {
        font-size: .9rem;
    }

    p + p {
        color: #121212;
        font-size: 1rem;
    }
}

.rowLine {
    border-bottom: 1px solid #DEDEDE;
}

.synopsis {
    font-weight: 600;
    // color: black;
    font-size: 1.3rem;
}

.text {
    color: #4E4B66;
}