header.header {
  h3.paymentTitle {
    color: #14142B;
    font-size: 1.7rem;
  }

  .card {
    padding: 0 1.4rem;
    border-radius: 6px;
    background-color: $light;
    height: auto;
    border: none;
  }
}