.title {
  color: #121212;
}

.subtitle {
  color:#121212;
  font-size: 1.5rem;
}

.formSubtitle {
  color: #AAAAAA;
  font-size: 1rem;
}

input.controlSize {
  height: 3.2rem;
  padding-left: 1.2rem;
}

input.hideBorderLeft {
  border-right: none;
}

button.controlSize {
  padding: 0;
  height: 3.2rem;
  font-size: 1.2rem;
}
