.link {
    color: #414141 !important;
    font-size: 1rem;
    margin-right: 1.7rem;

    &:hover {
        color: $primary !important;
    }
}

.brand {
    width: 8rem;
}

.dropdown > * {
    font-size: 1rem;
    color: #414141 !important;
    &:hover {
        color: $primary !important;
    }
}

.search {
    cursor: pointer;
    color: #414141 !important;

    &:active,
    &:hover {
        color: $primary !important;
    }
}

.dropdownArrow > a::after {
    display: none !important;
}

.picture {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 3.1rem;
}