@font-face {
  font-family: mulish-regular;
  src: url('../assets/fonts/Mulish-Regular.ttf');
}

@font-face {
  font-family: mulish-bold;
  src: url('../assets/fonts/Mulish-Bold.ttf');
}

@font-face {
  font-family: mulish-italic;
  src: url('../assets/fonts/Mulish-Italic.ttf');
}
