$primary: #5F2EEA;
$primary-transparent: rgba(43, 21, 107, 0.8);
$secondary: #1CC8EE;
$danger: #ED2E7E;
$success: #00BA88;
$warning: #F4B740;
$light: white;
$title-color: #14142B;
$placeholder-color: #4E4B66;
$body-color: #6E7191;
$label-color: #A0A3BD;
$line-color: #EFF0F6;
$separator-color: #DEDEDE;
$bg: #F7F7FC;
$bg-off-white: #FCFCFC;
$nav-height: 4.5rem;
$nav-height-mobile: 4.8rem;
