@media screen and (max-width: 990px) {
  img.img {
    position: static;
  }
}

@media screen and (min-width: 990px) and (max-width: 1300px) {
  img.img {
    left: .8rem;
  }
  img.img + span {
    position: relative;
    left: .6rem;
  }
  .textFacebook {
    position: relative;
    left: .9rem !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1590px){
  img.img {
    left: .7rem;
  }
  .textFacebook {
    position: relative;
    left: .4rem;
  }
}